<!DOCTYPE html>
<html>

<head>
    <title>
     TEAM 7
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/Style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">TEAM 7</a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href=/>Home</a></li>
           
            
            <li><a href="/Customer">Customer</a></li>
           

        </ul>

    </nav>
    