<div class="container-fluid">
  <div class=row>
    <h1 style="text-align:center;color:blue">Implementing 5 Controller data methods</h1>
    <br>
    <br>
    <br>
    
    <div class="col col-md-6">
        <h4>GET a view</h4>
      <ol>
        <li>
          <a href="customer">customer</a>
        </li>
        <li>
          <a href="customer/create">customer/create</a>
        </li>

        <li>
          <a href="customer/edit/10">customer/edit/10</a>
        </li>
        <li>
          <a href="customer/edit/11">customer/edit/11</a>
        </li>
       
        <li>
          <a href="customer/delete/12">customer/delete/12</a>
        </li>
        <li>
          <a href="customer/delete/13">customer/delete/13</a>
        </li>
        <!-- <li>
          <a href="customer/delete/14">customer/delete/14</a>
        </li>
        <li>
          <a href="customer/delete/15">customer/delete/15</a>
        </li> -->

        <!-- <li>
          <a href="customer/details/10">customer/details/10</a>
        </li>
        <li>
          <a href="customer/details/11">customer/details/11</a>
        </li>
        <li>
          <a href="customer/details/12">customer/details/12</a>
        </li>
        <li>
          <a href="customer/details/13">customer/details/13</a>
        </li> -->
        <li>
          <a href="customer/details/14">customer/details/14</a>
        </li>
        <li>
          <a href="customer/details/15">customer/details/15</a>
        </li>
      </ol>
    </div>
   

  
  <div class="col col-md-6">
    <h4>GET JSON</h4>
    <ol>
      <li>
        <a href="customer/findall">customer/findall</a>
      </li>
      <li>
        <a href="customer/findone/10">customer/findone/10</a>
      </li>
      <li>
        <a href="customer/findone/11">customer/findone/11</a>
      </li>
      <li>
        <a href="customer/findone/12">customer/findone/12</a>
      </li>
      <li>
        <a href="customer/findone/13">customer/findone/13</a>
      </li>
     
    </ol>
  </div>
  
</div>