
#foot-page{
    bottom: 0px;
    background-color: rgb(64, 70, 77);
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    width: 100%;
}
.nav{
        background-color: rgb(64, 70, 77);

}
.nav.navbar.navbar-default{
    background-color: rgb(64, 70, 77);
}
.navbar-header{
    width: 10%;
        background-color: rgb(64, 70, 77);
}
.nav.navbar-nav{
    width: 90%;
}
.nav.navbar-nav li a {
    color: white;
    background-color: rgb(64, 70, 77);
}
body{
    margin-bottom: 80px;
}
