

<br/>
<br/>
<h2>Customer Details</h2>
<br/>
<br/>   
ID:
<%=  customer._id %>
<br> firstName:
<%=customer.firstName%>
<br /> lastName:
<%=customer.lastName%>
<br /> mobileNumber:
<%=customer.mobileNumber%>
<br /> emailID:
<%=customer.emailID%>
<br /> address:
<%=customer.address%>
<br />
<br />

<form method="get" action="/customer">
    <input type="submit" value="Return to list" class="btn btn-caution" />
</form>