
<div class=row>
    <div class="col col-xs-12">
      <div class="form-group">
        <label for="firstName">firstName</label>
        <input type="text" class="form-control" id="firstName" name="firstName" value="<%= customer.firstName %>" required>
      </div>
      <div class="form-group">
        <label for="lastName">lastName</label>
        <input type="text" class="form-control" id="lastName" name="lastName" value="<%= customer.lastName %>"required>
      </div>      
      <div class="form-group">
        <label for="mobileNumber">mobileNumber</label>
        <input type="text" class="form-control" id="mobileNumber" name="mobileNumber" value="<%= customer.mobileNumber %>"required>
      </div>
      <div class="form-group">
        <label for="emailID">emailID</label>
        <input type="text" class="form-control" id="emailID" name="emailID" value="<%= customer.emailID %>"required>
      </div>
      <div class="form-group">
            <label for="address">address</label>
            <input type="text" class="form-control" id="address" name="address" value="<%= customer.address %>"required>
          </div>
    </div>
  </div>